<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <DesktopBuildPackageLocation>D:\Melmark\ReferralNewCompleted[30Sep2020]\Referral updated_SEP30\TrisaNewtest[23-Oct-2020]\Build\ReferalDB.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath />
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MelmarkDBEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=M2CWS001;Initial Catalog=BiWeeklyRCP;User ID=sa;Password=sqladmin;Application Name=EntityFramework" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataLayer.MelmarkDBEntities, DataLayer" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="dbConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=KARTHIK-DESKTOP\MSSQLSERVER2;Initial Catalog=MelmarkNE1;User ID=sa;Password=abc123*" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\dbConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=KARTHIK-DESKTOP\MSSQLSERVER2;Initial Catalog=MelmarkNE1;User ID=sa;Password=abc123*" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>True</DebugSymbols>
    <WDPMergeOption>CreateSeparateAssembly</WDPMergeOption>
    <UseFixedNames>True</UseFixedNames>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)dbConnectionString-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MelmarkDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/MelmarkDB.csdl|res://*/MelmarkDB.ssdl|res://*/MelmarkDB.msl;provider=System.Data.SqlClient;provider connection string="Data Source=M2CWS001;Initial Catalog=BiWeeklyRCP;User ID=sa;Password=sqladmin;Application Name=EntityFramework"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>